<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.knox.example.knoxsdk">

    <!-- Permissions TODO List permissions used by application -->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL" />
    <uses-permission android:name="com.samsung.android.knox.permission.CUSTOM_PROKIOSK" />
    <uses-permission android:name="com.samsung.android.knox.permission.CUSTOM_SETTING" />
    <uses-permission android:name="com.samsung.android.knox.permission.CUSTOM_SYSTEM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.supportlibclient.SUPPORT_PERMISSION"
        android:label="Support permission"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.samsung.knox.example.knoxsdk.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SampleAdminReceiver TODO Provide receiver for device admin receiver class -->
        <receiver
            android:name="com.samsung.knox.example.knoxsdk.SampleAdminReceiver"
            android:description="@string/enterprise_device_admin_description"
            android:label="@string/enterprise_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Activate License TODO Provide receiver for Knox license activation results -->
        <receiver android:name="com.samsung.knox.example.knoxsdk.SampleLicenseReceiver" >
            <intent-filter>
                <action android:name="com.samsung.android.knox.intent.action.KNOX_LICENSE_STATUS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>